<div class="bg-light homeImageContainer" style=" height:100vh">
    <div class="col p-5">
        <span class="navbutton">Hello</span>
        <span class="navbutton">Hello</span>
        <span class="navbutton">Hello</span>
        <span class="navbutton">Hello</span>
        <span class="navbutton">Hello</span>
        <span class="navbutton">Hello</span>
        <span class="navbutton">Hello</span>
        <span class="navbutton">Hello</span>
    </div>
</div>
<div style="overflow: hidden;">




    <div class="row justify-content-center">

        <!-- ------------------------------------------------------------------- -->

        <div class="col-md-4">
            <div class="myContent m-3">
                <div class="card">
                    <img src="https://source.unsplash.com/720x600/?research" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Alpha</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">About Me</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- ------------------------------------------------------------------- -->

        <div class="col-md-4">
            <div class="myContent m-3">
                <div class="card">
                    <img src="https://source.unsplash.com/720x600/?tree" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Alpha</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">About Me</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- ------------------------------------------------------------------- -->

        <div class="col-md-4">
            <div class="myContent m-3">
                <div class="card">
                    <img src="https://source.unsplash.com/720x600/?sea" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Alpha</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">About Me</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- ------------------------------------------------------------------- -->

        <div class="col-md-4">
            <div class="myContent m-3">
                <div class="card">
                    <img src="https://source.unsplash.com/720x600/?desktop" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Alpha</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">About Me</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- ------------------------------------------------------------------- -->

        <div class="col-md-4">
            <div class="myContent m-3">
                <div class="card">
                    <img src="https://source.unsplash.com/720x600/?books" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Alpha</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">About Me</a>
                    </div>
                </div>
            </div>
        </div>


        <!-- ------------------------------------------------------------------- -->

        <div class="col-md-4">
            <div class="myContent m-3">
                <div class="card">
                    <img src="https://source.unsplash.com/720x600/?building" class="card-img-top img-fluid" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Alpha</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <a href="#" class="btn btn-primary">About Me</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- ------------------------------------------------------------------- -->

    </div>


    <!-- -------------------------------------------------------------------- -->

    <div class="row" data-aos="fade-right" data-aos-duration="5000">
        <div class="col-md-6">
            <div class="myContent m-3">
                <div class="card">
                    <img src="https://source.unsplash.com/720x600/?food,room" style="height:24rem" alt="image" class="img-fluid">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6  ">
            <div class="row align-content-start ">
                <div class="col-md-12 p-4">
                    <h5 class="card-title">Pizza Resto</h5>
                    <p class="card-text pe-5" style="text-align: justify;">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione ipsum fugit nostrum inventore, illo perspiciatis. Impedit, ratione eos
                        dolor alias inventore quod asperiores possimus! Qui quaerat molestias blanditiis, vero provident alias consequatur, ab ad amet beatae placeat aut modi similique molestiae saepe cumque nihil magni voluptatem rerum, nobis tempora
                        quibusdam. Alias, earum! Placeat quos distinctio ea pariatur libero, praesentium tenetur. Fuga, a totam, sunt asperiores ipsum tempore consequuntur quos accusantium unde hic velit nulla eligendi voluptates non corporis tenetur
                        impedit expedita et officia qui. Maxime tenetur odio blanditiis dicta provident temporibus architecto officiis! Quidem maiores expedita odio, consequatur voluptate nesciunt?
                    </p>
                    <div align="end" class="me-5"> <a href="#" class="btn btn-primary">About Me</a></div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    <!-- -------------------------------------------------------------------- -->

    <div class="row" data-aos="fade-left" data-aos-duration="10000">
        <div class="col-md-6">
            <div class="ms-5 p-4">
                <h5 class="card-title">Pizza Resto</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">About Me</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="myContent m-3">
                <div class="card">
                    <img src="https://source.unsplash.com/720x600/?pizza,pizza" style="height:24rem;width: 42rem;" style="height:24rem" alt="image" class="img-fluid">

                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    <!-- -------------------------------------------------------------------- -->

    <div class="row" data-aos="fade-down-right" data-aos-duration="15000">
        <div class="col-md-6">
            <div class="myContent m-3">
                <div class="card">
                    <img src="https://source.unsplash.com/720x600/?restaurant,restaurant" style="height:24rem;width: 42rem;" style="height:24rem" alt="image" class="img-fluid">
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-4">
            <h2 class="card-title">Pizza Resto</h2>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">About Me</a>
        </div>
    </div>
    <br><br><br>
    <!-- -------------------------------------------------------------------- -->


    <div class="row" data-aos="fade-up" data-aos-duration="20000">
        <div class="col-md-6">
            <div class="ms-5 p-4">
                <h5 class="card-title">Pizza Resto</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
                <a href="#" class="btn btn-primary">About Me</a>
            </div>

        </div>
        <div class="col-md-6">
            <div class="myContent m-3">
                <div class="card">
                    <img src="https://source.unsplash.com/720x600/?food,fish" style="height:24rem" alt="image" class="img-fluid">

                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>

        <!-- -------------------------------------------------------------------- -->

        <app-footer></app-footer>

    </div>